{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/11/2018
 # Time: 11:00
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
    <style type="text/css">
        #submit-button button {
            height: 50px;
            font-size: 18px;
            width: 100%;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
{% endblock %}
{% block main %}
    <div class="wrapper container" id="receiver-form">
        <div class="farmer-new-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-menu.svg" class="hambuger-menu-reicever">
            <a href="{{ url('farm_home', {'id': TargetCustomer.id} ) }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-home.svg" class="nav-home"></a>
            <a href="{{ url('top') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="logo-svg"></a>
        </div>
        <form id="receiver-form" method="post" action="" enctype="multipart/form-data">
            {{ form_widget(form._token) }}
            <div id="item-info">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">お問い合わせ内容</label>
                        {{ form_widget(form.title, {attr: {placeholder: 'タイトルを入力...', readonly : 'readonly'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.contents, {attr: {placeholder: 'お問い合せ内容を入力...', class : 'height120', readonly : 'readonly'}}) }}
                        {{ form_errors(form.contents) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12 margin-bottom40" id="submit-button">
                    <div class="col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-success" name="mode" value="complete">送信をする</button>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-info" name="mode" value="back">戻る</button>
                    </div>
                </div>
                <p class="title12 text-alight-center margin-top15">注文した商品が届かない・出荷に間に合わなかったなど</p>
                <p class="title12 text-alight-center">緊急時の場合は下記へご連絡ください</p>
                <p class="title20 text-alight-center">00-1234-5678</p>
            </div>
        </form>
    </div>
{% endblock %}
