{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/11/2018
 # Time: 11:00
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
{% endblock stylesheet %}

{% block javascript %}
{% endblock %}
{% block main %}
    <div class="wrapper container" id="receiver-form">
        <form id="receiver-form" method="post" action="" enctype="multipart/form-data">
            {{ form_widget(form._token) }}
            <div id="item-info">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">お問い合わせ内容</label>
                        {{ form_widget(form.title, {attr: {placeholder: 'タイトルを入力...'}}) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_widget(form.contents, {attr: {placeholder: 'お問い合せ内容を入力...', class : 'height120'}}) }}
                        {{ form_errors(form.contents) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-inactive margin-bottom40" name="mode" value="confirm">確認ページへ</button>
                </div>
                <p class="title12 text-alight-center margin-top15">注文した商品が届かない・出荷に間に合わなかったなど</p>
                <p class="title12 text-alight-center">緊急時の場合は下記へご連絡ください</p>
                <p class="title20 text-alight-center">00-1234-5678</p>
            </div>
        </form>
    </div>
{% endblock %}
