{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
    <style type="text/css">
        .modal .modal-header .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script
            type="text/javascript">
        $(function() {
            $(".plus").on("click", function() {
                var $button = $(this);
                var oldValue = $button.parent().find("input").val();

                var newVal = parseInt(oldValue) + 1;

                var priceSpan = $button.parent().parent().find(".count-price").find("span");
                console.log(priceSpan);
                var priceOld = parseInt(priceSpan.text());
                console.log(priceOld);
                var priceNew = priceOld / oldValue * newVal;
                console.log(priceNew);
                priceSpan.text(priceNew);
                $button.parent().find("input").val(newVal);
            });

            $(".minus").on("click", function() {
                var $button = $(this);
                var oldValue = $button.parent().find("input").val();

                if (oldValue > 0) {
                    var newVal = parseInt(oldValue) - 1;
                } else return false;

                var priceSpan = $button.parent().parent().find(".count-price").find("span");
                var priceOld = parseInt(priceSpan.text());
                var priceNew = priceOld / oldValue * newVal;
                priceSpan.text(priceNew);

                $button.parent().find("input").val(newVal);
            });

            var createForm = function (action, data) {
                var $form = $('<form action="' + action + '" method="post"></form>');
                for (input in data) {
                    if (data.hasOwnProperty(input)) {
                        $form.append('<input name="' + input + '" value="' + data[input] + '">');
                    }
                }
                return $form;
            };

            $('a[token-for-anchor]').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var data = $this.data();
                if (data.confirm != false) {
                    if (!confirm(data.message ? data.message : '削除してもよろしいですか?')) {
                        return false;
                    }
                }

                var $form = createForm($this.attr('href'), {
                    _token: $this.attr('token-for-anchor'),
                    _method: data.method
                }).hide();

                $('body').append($form); // Firefox requires form to be on the page to allow submission
                $form.submit();
            });

            // reset modal
            $('.modal').on('hidden.bs.modal', function(){
                $(this).find('form')[0].reset();
                $('.old-price').each(function () {
                    var old_price = $(this).val();
                    $(this).parent().find('.count-price').find('span').text(old_price);
                });
            });
        })
    </script>
{% endblock javascript %}

{% block main %}
    <div id="receiver-cart-wrapper" class="wrapper">
        <div class="container">
            <div class="header receiver-header">
                <div class="float-left">
                    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-menu.svg">
                </div>
                <div class="logo float-left">
                    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg">
                </div>
                <div class="float-right">
                    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-cart.svg">
                    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-search.svg">
                </div>
            </div>

            <div class="exhibition">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ul class="list-inline">
                            <li class="left_enable list-2item">注文票</li>
                            <li class="right_disable list-2item">注文履歴</li>
                        </ul>
                    </div>
                </div>
            </div>

            {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
            {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                {% set idx = loop.index0 %}
                {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                {% else %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            {{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
                <div id="cart_box__message_error--{{ loop.index }}" class="message">
                    <p class="errormsg bg-danger">
                        {{ error|trans|nl2br }}
                    </p>
                </div>
            {% endfor %}

            {% if Cart.CartItems|length > 0 %}
                <div class="cart-section row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="backgroundf7f7f7">
                            <div class="title-section-small backgroundf7f7f7">
                                <p>お届け先バス停</p>
                            </div>

                            <div class="title-section-white">
                                <p>エスパルスドリームプラザ</p>
                                <span>静岡県静岡市清水区入船町13-15</span>
                            </div>

                            {% for reception_date in reception_dates %}
                                <div class="cart-title">
                                    <p>
                                        <span class="cart-main-title">{{ reception_date|date('m月d日') }}({{ master_date[reception_date|date('N')].name }})</span>
                                        <span class="cart-sub-title">お届け予定</span>
                                    </p>
                                </div>

                                <div class="cart-content" id="cart-main-content">
                                    <form method="post" action="?">
                                        <input type="hidden" name="mode" value="confirm">
                                        <input type="hidden" name="date_id" value="{{ reception_date|date('N') }}">
                                    {% for CartItem in Cart.CartItems %}
                                        {% if CartItem.reception_date|date('U') == reception_date|date('U') %}
                                            {% set ProductClass = CartItem.Object %}
                                            {% set Product = ProductClass.Product %}
                                            {% set Customer = Product.Creator %}
                                            <div class="receiver-cart clearfix">
                                                <div>
                                                    <div class="order-detail-profile float-left">
                                                        <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" class="cart-profile">
                                                        <span class="profile-name-medium">{{ Product.name }}</span>
                                                        <span class="profile-address-medium">{{ Customer.__toString }}</span>
                                                        <span class="profile-order-medium">注文点数：{{ CartItem.quantity }}</span>
                                                    </div>
                                                    <div class="float-right arrow-right">
                                                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" >
                                                    </div>
                                                </div>

                                                <div class="cart-detail-info">
                                                    <div class="float-left">
                                                        <p>小計：{{ CartItem.total_price|number_format }}</p>
                                                    </div>
                                                    <div class="float-right">
                                                        <a href="#" class="cart-link" data-toggle="modal" data-target="#exampleModal">注文内容の変更</a>
                                                        <a href="{{ url('cart_remove', {'productClassId': ProductClass.id, 'date_id': reception_date|date('N') }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="カートから商品を削除してもよろしいですか?" class="delete-link">削除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="product-cart-button">
                                        {#<p>あと2時間30分で自動的に注文が確定されます</p>#}
                                        <button class="cart-button-confirm btn btn-success" type="submit">注文内容を確認する</button>
                                    </div>
                                    </form>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% else %}
                <div id="cart_box__message" class="message">
                    <p class="errormsg bg-danger">
                        現在カート内に商品はございません。
                    </p>
                </div>
            {% endif %}

        </div>
    </div>

    {% if Cart.CartItems|length > 0 %}
        <div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form name="modify-cart" id="modify-cart" method="post" action="{{ url('cart_modify') }}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">配送日をお選びください</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            {% for CartItem in Cart.CartItems %}
                                {% set ProductClass = CartItem.Object %}
                                {% set Product = ProductClass.Product %}
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 count-modal">
                                        <div class="col-sm-8 col-xs-8 float-left">
                                            <span class="count-date">{{ CartItem.reception_date|date('m月d日') }}({{ master_date[CartItem.reception_date|date('N')].name }})</span>
                                            <input type="hidden" class="old-price" value="{{ CartItem.total_price }}">
                                            <p class="count-price">小計：<span class="price_{{ ProductClass.id }}_{{ CartItem.reception_date|date('N') }}">{{ CartItem.total_price }}</span>円</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 float-right count-right">
                                            <img class="minus" src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/count-minus-inactive.svg">
                                            <input type="number" min="0" step="1" pattern="[0-9]*" class="count-number" name="quantity[{{ ProductClass.id }}][{{ CartItem.reception_date|date('N') }}]" value="{{ CartItem.quantity }}">
                                            <img class="plus" src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/count-plus-active.svg">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button id="order_button" class="btn btn-success" type="submit">注文内容を変更する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
