{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 3/15/2018
 # Time: 8:03 PM
 #}
{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function () {
                var value = $(this).find("input[name=search_type]").val();
                $("#search_type").val(value);
                if (value == '{{ constant('Eccube\\Entity\\Master\\SearchType::SEARCH_HISTORY') }}') {
                    $('#search-form').find("input[name=name]").val($(this).find("input[name=name]").val());
                }
                $("#search-form").submit();
            });
        });
    </script>
{% endblock javascript %}
{% block main %}
    <div class="wrapper" id="search-menu">
        <form action="?" method="get" name="search-form" id="search-form">
            {{ form_widget(form.name, {attr: {placeholder: '品目・キーワードなどで探す', class: 'search-input'}}) }}
            <input type="hidden" id="search_type" name="search_type" value="">
        </form>
        <ul class="list-group">
            {% for key, item in types %}
            <li class="list-group-item">
                <input type="hidden" name="search_type" value="{{ key }}">
                {{ item }}
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
            </li>
            {% endfor %}
            {% if history_type is not empty %}
                <li class="list-group-item">
                    検索履歴
                </li>
            {% for item in history_type %}
                <li class="list-group-item">
                    <input type="hidden" name="search_type" value="{{ constant('Eccube\\Entity\\Master\\SearchType::SEARCH_HISTORY') }}">
                    <input type="hidden" name="name" value="{{ item }}">
                    {{ item }}
                    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock main %}
