{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/13/2018
 # Time: 10:00
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
    <style type="text/css">
        /******************************
            Media Query for tablet, PC...
        *******************************/
        #reicever-wrapper {
            min-height: 600px;
        }
        @media only screen and (min-width: 768px) {
            .rectangle-content {
                width: 645px;
                height: 88px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 0.5px #cccccc;
                margin: auto;
                margin-bottom: 10px;
            }
            .layer-big {
                margin-left: 50px;
            }
            .layer-small {
                margin-left: 55px;
            }
            .ml30p {
                margin-left: 30%;
            }
        }
        /******************************
            Media Query for smart phone
        *******************************/
        @media only screen and (max-width: 767px) {
            .rectangle-content {
                width: 345px;
                height: 88px;
                border-radius: 3px;
                background-color: #ffffff;
                border: solid 0.5px #cccccc;
                margin: auto;
                margin-bottom: 10px;
            }
            .layer-big {
                text-align: center;
            }

            .farmer-new-header .logo-svg {
                margin-left: 28.5%;
            }

            .ml30p {
                margin-left: 15%;
            }
        }

        .layer-tiny {
            margin-right: 20px;
        }

        .text-tiny {
            font-size: 12px;
            font-weight: bold;
            text-align: left;
            margin-right: 5px;
            color: #888888;
        }

        .text-center {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            color: #222222;
        }
        #driver-wrapper {
            min-height: 600px;
        }
    </style>
{% endblock stylesheet %}

{% block main %}
    <div id="reicever-wrapper" class="wrapper">
        <div class="farmer-new-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-menu.svg" class="hambuger-menu-reicever">
            <a href="{{ url('top') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="logo-svg"></a>
        </div>
        {% if BusSchedule|length > 0 %}
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrapper" id="driver-wrapper">
                <div class="header-bottom">
                    <div class="ml39">
                        <span class="layer-big">{{ bus_no }}号車 {{ route_name }}</span>
                    </div>
                    <div class="layer-tiny text-align-right">
                        <a href="{{ url('driver_home_tomorrow') }}"><span>明日の運行 〉</span></a>
                    </div>
                    <div class="ml42">
                        <span class="layer-small">{{ today }}</span>
                    </div>
                </div>

                {% for Bus in BusSchedule %}
                    <div class="rectangle-content">
                        <div class="rectangle-title">
                            <span class="text-left">{{ Bus.move_time }}</span>
                            <span class="text-center">{{ Bus.name }}</span>
                        </div>
                        <div class="rectangle-detail">
                            <span class="text-tiny">配荷数</span>
                            <span class="text-center">{{ Bus.total_amount }}</span>
                            <span class="text-tiny ml30p">集荷数</span>
                            <span class="text-center">{{ Bus.farmer_total_amount }}</span>
                            <span class="text-tiny ml30p">積載率</span>
                            <span class="text-center">50%</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div id="list_box" class="box-body no-padding">
                <div id="list_box__not_find_Bus" class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p class="text-center" style="text-align: center">データはありません</p></div>
            </div><!-- /.box-body -->
        {% endif %}
    </div>

    <div id="reicever-menu-wrapper" class="menu-wrapper hidden">
        <div class="Rectangle">
            <ul class="list-group" id="main-menu">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="list-group-item li-profile">
                    <img id="upload-image" src="{{ app.config.image_save_urlpath }}/{{ app.user.profile_image|no_image_product }}" alt="profile" class="img-circle small-profile">
                    <span class="profile-name">{{ app.user.__toString }}</span>
                    <span class="button-x">X</span>
                </li>
                {% endif %}
                <li class="list-group-item"><a href="{{ url('contact') }}">お問い合わせ</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
