{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="service-top-img">
    <a href="{{ url('farm_service') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/top.png" class="sp-top-img"></a>
</div>

<div>
    <div id="service-bus-icon">
        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/bus-icon.PNG" class="display-block bus-icon">
        <p class="text-alight-center">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset5.PNG">
            <span class="title20">やさいバスのメリット</span>
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset6.PNG">
        </p>
        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/farmer.PNG" class="display-block seller-icon">
        <ul>
            <li><span class="primary-square">&#9632;</span>物流コストが下がる</li>
            <li><span class="primary-square">&#9632;</span>朝採れ野菜が届く</li>
            <li><span class="primary-square">&#9632;</span>生産者との直接コミュニケーション</li>
        </ul>
        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/receiver.PNG" class="display-block buyer-icon">
        <ul>
            <li><span class="primary-square">&#9632;</span>物流コストが下がる</li>
            <li><span class="primary-square">&#9632;</span>販路の調達ができる</li>
            <li><span class="primary-square">&#9632;</span>購入者からの反応が得られる</li>
        </ul>
    </div>

    <div id="service-map">
        {#<img src="{{ app.config.front_urlpath }}/yasai-bus/img/rau5.jpg" class="pc-top-img">#}
        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/yasai-bus.png" class="sp-top-img">
    </div>

    <div id="service-org-chat">
        <p class="text-alight-center">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset3.PNG">
            <span class="title20">やさいバスのしくみ</span>
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset4.PNG">
        </p>
        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/org-chat.PNG" class="display-block org-chat-icon">
        <a href="{{ url('farm_service') }}"><button class="btn btn-success btn-labelmedium">登録を申し込む</button></a>
    </div>

    <div id="product-list" class="clearfix">
        <p class="product-list-title">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset1.PNG">
            <span class="title20">やさいバスの新着商品</span>
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/asset/asset2.PNG">
        </p>

        <div id="thumbnail-panel">
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
            <div class="pc-thumbnail">
                <img src="{{ app.config.front_urlpath }}/yasai-bus/img/pc-tomato.PNG" alt="..." >
                <div class="caption margin-top15">
                    <h5 class="font-weight mg10 title18 margin-bottom15">プチぷよトマト</h5>
                    <h5 class="font-weight mg20 title18 margin-bottom15">1000円 &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 5kg箱</h5>
                    <p class="margin-left10">
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/profile-medium.PNG" alt="profile" class="img-circle medium-profile">
                        <span class="profile-name-medium color222">高橋農園</span>
                        <span class="profile-address-medium">静岡県静岡市青青水区</span>
                    </p>
                </div>
            </div>
        </div>

        <button class="btn btn-success btn-labelmedium">新着商品をもっと見る</button>
    </div>

</div>

