{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/11/2018
 # Time: 11:00
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ app.config.admin_urlpath }}/assets/css/fileupload/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <style type="text/css">
        ul#thumb li {
            list-style: none;
            display: inline-block;
            position: relative;
            margin-right: 5px;
            border-radius: 2.3px;
        }

        ul#thumb li img {
            width: 79px;
            height: 79px;
            border-radius: 3px;
        }

        /*ul#thumb li#upload-camera {*/
            /*width: 60px;*/
            /*height: 60px;*/
            /*border-radius: 3px;*/
        /*}*/

        ul#thumb li#upload-camera img.upload-list-camera {
            /*width: 24px;*/
            /*height: 22px;*/
            /*top: 34%;*/
            /*left: 29%;*/
            /*position: absolute;*/
        }

        ul#thumb li#upload-camera {
            background-color: #344250;
            /*!*position: relative;*!*/
            /*border-radius: 3px;*/
            /*background-color: #344250;*/
            /*width: 60px;*/
            /*height: 60px;*/
            /*!*top: -17%;*!*/
        }

        ul#thumb li.ui-state-default .delete-image {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 79px;
            height: 17px;
            opacity: 0.8;
            border-radius: 3px;
            background-color: #ffffff;
        }
        ul#thumb li.ui-state-default .delete-image .close {
            width: 16px;
            height: 11px;
            font-size: 7.6px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #222222;
            opacity: inherit;
            float: none;
            top: 30%;
            left: 39%;
            position: absolute;
        }

        .upload-zone-camera {
            position: relative;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/vendor/jquery.ui.widget.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.iframe-transport.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-process.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/fileupload/jquery.fileupload-validate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var max_image = 5;
        $(function () {
            var openModal = function (review_class, caption) {
                var modal = document.getElementById('myModal');
                var modalImg = document.getElementById("model-image");
                // review image
                var img = document.getElementsByClassName(review_class);
                var captionText = document.getElementById("caption");

                var text = '';
                if (caption) {
                    text = document.getElementsByClassName(caption);
                }

                // review image
                $(img).each(function(index, item) {
                    item.onclick = function() {
                        modal.style.display = "block";
                        modalImg.src = this.src;
                        if (text[index]) {
                            captionText.innerHTML = text[index].value;
                        } else {
                            captionText.innerHTML = '';
                        }
                    };
                });

                var span = document.getElementsByClassName("close")[0];
                span.onclick = function() {
                    modal.style.display = "none";
                };
            };
            openModal('image-review');

            var hideSvg = function () {
                var  length = $("#thumb li").length;
                var upload_zone = $("#upload-zone");
                if (length > 1 && length <= max_image - 1) {
                    $(upload_zone).css("display", "none");
                    $("#upload-camera").css("display", "");
                } else {
                    $("#upload-camera").css("display", "none");
                    if (length == max_image) {
                        $(upload_zone).css("display", "none");
                    } else  {
                        $(upload_zone).css("display", "");
                    }
                }
            };
            hideSvg();
            var proto_img = ''
                + '<li class="ui-state-default">'
                + '<img src="__path__" class="image-review" />'
                + '<a class="delete-image">'
                + '<span class="close">'
                + '削除'
                + '</span>'
                + '</a>'
                + '</li>';
            var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
            var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';
            {% for image in form.images %}
            var path = '{{ app.config.image_save_urlpath }}/{{ image.vars.value }}';
            var $img = $(proto_img.replace(/__path__/g, path));
            var $widget = $('{{ form_widget(image) }}');
            $widget.val('{{ image.vars.value }}');
            $("#thumb").prepend($img.append($widget));
            hideSvg();
            {% endfor %}
            {% for add_image in form.add_images %}
            var path = '{{ app.config.image_temp_urlpath }}/{{ add_image.vars.value }}';
            var $img_add = $(proto_img.replace(/__path__/g, path));
            var $widget_add = $('{{ form_widget(add_image) }}');
            $widget_add.val('{{ add_image.vars.value }}');
            $("#thumb").prepend($img_add.append($widget_add));
            hideSvg();
            {% endfor %}
            {% for delete_image in form.delete_images %}
            $("#thumb").append('{{ form_widget(delete_image) }}');
            {% endfor %}
            var count_del = 0;
            $("#thumb").on("click", ".delete-image", function () {
                var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
                var src = $(this).prev().attr('src')
                    .replace('{{ app.config.image_temp_urlpath }}/', '')
                    .replace('{{ app.config.image_save_urlpath }}/', '');
                $new_delete_image.val(src);
                $("#thumb").append($new_delete_image);
                $(this).parent("li").remove();
                hideSvg();
                count_del++;
            });
            var count_add = {{ form.add_images|length|default(0) }};
            $('#{{ form.product_image.vars.id }}').fileupload({
                url: "{{ url('farm_image_upload') }}",
                type: "post",
                sequentialUploads: true,
                dataType: 'json',
                done: function (e, data) {
                    $('#progress').hide();
                    $.each(data.result.files, function (index, file) {
                        var total = $('#thumb li').length;
                        if (total < max_image) {
                            var path = '{{ app.config.image_temp_urlpath }}/' + file;
                            var $img = $(proto_img.replace(/__path__/g, path));
                            var $new_img = $(proto_add.replace(/__name__/g, count_add));
                            $new_img.val(file);
                            $child = $img.append($new_img);
                            $('#thumb').prepend($child);
                            openModal('image-review');
                            count_add++;
                        }
                    });
                    hideSvg();
                },
                fail: function (e, data) {
                    alert('アップロードに失敗しました。');
                },
                always: function (e, data) {
                    $('#progress').hide();
                    $('#progress .progress-bar').width('0%');
                },
                start: function (e, data) {
                    $('#progress').show();
                },
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 10000000,
                maxNumberOfFiles: max_image,
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                processalways: function (e, data) {
                    if (data.files.error) {
                        alert("画像ファイルサイズが大きいか画像ファイルではありません。");
                    }
                }
            });

            $('.upload-image, .upload-list-camera').on('click', function () {
                var total = $('#thumb li').length;
                if (total >= max_image) {
                    return;
                }
                $('#{{ form.product_image.vars.id }}').click();
            });

            $("#item_edit_Tag .checkbox label").each(function () {
                var tag_name = $(this).text();
                var id = $(this).find('input').attr('id');
                var checked = $(this).find('input').attr('checked');
                if (checked) {
                    $("#tag-group").append('<button class="btn btn-success margin-right10" input_id="'+id+'" type="button">'+tag_name+'</button>');
                } else {
                    $("#tag-group").append('<button class="btn btn-default margin-right10" input_id="'+id+'" type="button">'+tag_name+'</button>');
                }
            });

            var index = 0;
            $("#item_edit_class_cultivation_method .radio label").each(function () {
                var tag_name = $(this).text();
                var id = $(this).find('input').attr('id');
                var checked = $(this).find('input').attr('checked');
                if (checked) {
                    $("#product_type_group").append('<button class="btn btn-success" input_id="'+id+'" type="button">'+tag_name+'</button>');
                } else {
                    $("#product_type_group").append('<button class="btn btn-default" input_id="'+id+'" type="button">'+tag_name+'</button>');
                }
                index++;
            });

            $("#item_edit_ReceiptableDate .checkbox label").each(function () {
                var tag_name = $(this).text();
                var id = $(this).find('input').attr('id');
                var checked = $(this).find('input').attr('checked');
                if (checked) {
                    $("#date_group").append('<button class="btn btn-success days-button" input_id="' + id + '" type="button">' + tag_name + '</button>');
                } else {
                    $("#date_group").append('<button class="btn btn-default days-button" input_id="' + id + '" type="button">' + tag_name + '</button>');
                }
            });

            $("#product_type_group button").click(function () {
                var ele = $(this);
                var id = ele.attr('input_id');
                ele.addClass('btn-success');
                ele.removeClass('btn-default');
                ele.siblings().addClass('btn-default');
                ele.siblings().removeClass('btn-success');
                $("#"+id).prop('checked', true);
            });

            $("#date_group button").click(function () {
                var ele = $(this);
                var id = ele.attr('input_id');
                if (ele.hasClass('btn-success')) {
                    $(this).removeClass('btn-success');
                    $(this).addClass('btn-default');
                    $("#"+id).prop('checked', false);
                } else {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-default');
                    $("#"+id).prop('checked', true);
                }
            });

            $("#tag-group button").click(function () {
                var ele = $(this);
                var id = ele.attr('input_id');
                if (ele.hasClass('btn-success')) {
                    $(this).removeClass('btn-success');
                    $(this).addClass('btn-default');
                    $("#"+id).prop('checked', false);
                } else {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-default');
                    $("#"+id).prop('checked', true);
                }

            });
        });
    </script>
{% endblock %}
{% block main %}
    <div class="container wrapper" id="receiver-form">
        <div class="farmer-new-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-menu.svg" class="hambuger-menu-reicever">
            <a href="{{ url('farm_home', {'id': TargetCustomer.id} ) }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-home.svg" class="nav-home"></a>
            <a href="{{ url('top') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="logo-svg"></a>
        </div>
        <form id="receiver-form" method="post" action="" enctype="multipart/form-data">
            {{ form_widget(form._token) }}
            <div class="row">
                <div class="col-sm-12 col-xs-12" id="upload-zone">
                    <div class="margin-bottom15 text-alight-center">
                        <a class="btn btn-default upload-image">
                            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/camera-white.svg"
                                 class="upload-zone-camera">商品を撮影する</a>
                    </div>
                </div>
                <div id="progress" class="progress progress-striped active" style="display:none;">
                    <div class="progress-bar progress-bar-info"></div>
                </div>
                {{ form_widget(form.product_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                {{ form_errors(form.product_image) }}
                <ul id="thumb" class="text-alight-center clearfix">
                    <li class="ui-default" id="upload-camera">
                        <img class="upload-list-camera" src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/camera-white.svg">
                    </li>
                </ul>
            </div>

            <div id="item-info">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">品目<span class="badge wait-approve">必須</span></label>
                        {{ form_errors(form.Category) }}
                        {{ form_widget(form.Category, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <label class="display-block">栽培方法<span class="badge wait-approve">必須</span></label>
                    <div class="form-group form-inline">
                        {{ form_widget(form.class.cultivation_method, {'attr': {'class': 'hidden'}}) }}
                    </div>

                    <div class="btn-group form-group btn-group-lg" role="group" id="product_type_group">
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group form-inline">
                        <label class="display-block">1点あたりの量<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.class.amount) }}#}
                        {{ form_errors(form.class.amount) }}
                        {{ form_errors(form.class.amount_unit_type) }}
                        {{ form_widget(form.class.amount) }}
                        {{ form_widget(form.class.amount_unit_type, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">1点あたりの価格<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.class.price02) }}#}
                        {{ form_errors(form.class.price02) }}
                        {{ form_widget(form.class.price02) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">段ボール・折りたたみコンテナ1つに入る点数<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.class.amount_per_container) }}#}
                        {{ form_errors(form.class.amount_per_container) }}
                        {{ form_widget(form.class.amount_per_container) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.class.sale_limit) }}
                        {{ form_errors(form.class.sale_limit) }}
                        {{ form_widget(form.class.sale_limit) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    {{ form_label(form.class.production_start_date) }}
                    <div class="form-group form-inline">
                        {{ form_errors(form.class.production_start_date) }}
                        {{ form_errors(form.class.production_end_date) }}
                        {{ form_widget(form.class.production_start_date) }}　～　{{ form_widget(form.class.production_end_date) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="form-group form-inline" id="date_group">
                        <label class="display-block">発送可能日<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.ReceiptableDate) }}#}
                        {{ form_errors(form.ReceiptableDate) }}
                        {{ form_widget(form.ReceiptableDate, {'attr': {'class': 'hidden'}}) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">タイトル<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.name) }}#}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="display-block">商品説明<span class="badge wait-approve">必須</span></label>
                        {#{{ form_label(form.description_detail) }}#}
                        {{ form_errors(form.description_detail) }}
                        {{ form_widget(form.description_detail, {'attr': {'class': 'height120'}}) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div class="form-group form-inline" id="tag-group">
                        <label class="display-block">タグ</label>
                        {{ form_errors(form.Tag) }}
                        {{ form_widget(form.Tag, {'attr': {'class': 'hidden'}}) }}
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-inactive margin-bottom40">
                        {% if id is null%}
                            商品を出品する
                        {% else %}
                            編集を完了する
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="model-image"/>
        <div id="caption"></div>
    </div>

    <div id="reicever-menu-wrapper" class="menu-wrapper hidden">
        <div class="Rectangle">
            <ul class="list-group" id="main-menu">
                <li class="list-group-item li-profile">
                    <img id="upload-image" src="{{ app.config.image_save_urlpath }}/{{ TargetCustomer.profile_image|no_image_product }}" alt="profile" class="img-circle small-profile">
                    <span class="profile-name">{{ TargetCustomer.__toString }}</span>
                    <span class="button-x">X</span>
                </li>
                <li class="list-group-item"><a href="{{ url('farm_profile', {'id': TargetCustomer.id} ) }}">プロフィール</a></li>
                <li class="list-group-item"><a href="#">過去の出品</a></li>
                <li class="list-group-item"><a href="#"><span>お知らせ</span><span class="li-active">&#x25CF;</span></a></li>
                <li class="list-group-item" id="setting"><a href="#">設定</a></li>
                <li class="list-group-item"><a href="{{ url('farm_contact') }}">お問い合わせ</a></li>
                <li class="list-group-item"><a href="{{ url('farm_guide') }}">ガイド</a></li>
            </ul>

            <ul class="list-group hidden" id="setting-menu">
                <li class="list-group-item li-profile">
                    <img id="upload-image" src="{{ app.config.image_save_urlpath }}/{{ TargetCustomer.profile_image|no_image_product }}" alt="profile" class="img-circle small-profile">
                    <span class="profile-name">{{ TargetCustomer.__toString }}</span>
                    <span class="button-x">X</span>
                </li>
                <li class="list-group-item">
                    <a href="{{ url('farm_service_profile_setting') }}">
                        登録者名・住所・電話番号
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>

                </li>
                <li class="list-group-item">
                    <a href="{{ url('farm_farmer_password_change') }}">
                        メールアドレス・パスワード
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        指定購入者への割引設定
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>

                </li>
                <li class="list-group-item">
                    <a href="#">
                        やさいバスについて
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
