{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 3/5/2018
 # Time: 8:59 PM
 #}{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('.slides').slick({
                dots: true,
                arrows: false,
                speed: 300,
                customPaging: function(slider, i) {
                    return '<button class="thumbnail">' + $(slider.$slides[i]).find('img').prop('outerHTML') + '</button>';
                }
            });
        });
    </script>
{% endblock javascript %}
{% block main %}
    <div id="reicever-detail-wrapper" class="wrapper">
        <div class="row">
            <div id="item_photo_area" class="col-sm-7 col-xs-12">
                <div id="detail_image_box__slides" class="slides">
                    {% if Product.ProductImage|length > 0 %}
                        {% for ProductImage in Product.ProductImage %}
                            <div id="detail_image_box__item--{{ loop.index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"/></div>
                        {% endfor %}
                    {% else %}
                        <div id="detail_image_box__item"><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}"/></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-5 col-xs-12">
                <div class="bottom-cart-button padding-top10" >
                    <div class="float-left">
                        <p>
                            <span class="price-title">{{ Product.getPrice02IncTaxMin|price }}<label class="price-tax ">（税込）</label></span>
                            <!--<span class="price-tax"></span>-->
                            <span class="price-quality">{{ Product.getAmountFollowPrice02Min }}{{ Product.getAmountUnitTypeFollowPrice02Min.name }}</span>
                        </p>
                    </div>
                    <div class="float-right">
                        <a href="{{ url('farm_history_detail', {'id': Product.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="この製品を更新してもよろしいですか？" class="btn btn-success">商品を再出品する</a>
                    </div>
                </div>
            </div>
            </div>
        </div>


{% endblock main %}
