{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/04/2018
 # Time: 2:50 PM
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock %}
{% block main %}
    <style type="text/css">
        .input_zip select {
            height: 50px !important;
        }
    </style>
    <div class="wrapper" id="service-regist-receiver-wrapper">
        <div class="farmer-header">
            <a href="{{ url('top') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="margin-top10"></a>
        </div>

        <div id="service-wrapper" class="row">
            <p class="title12">やさいバスは現在、静岡県内の方のみ</p>
            <p class="title12">利用申請を受け付けております</p>
            <p class="title12">対応地域拡大までしばらくお待ちください</p>
            <form id="service-form" method="post" action="{{ url('farm_service') }}" class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                <input type="hidden" name="mode" value="register"/>
                {{ form_widget(form._token) }}
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.customer_role) }}
                        {{ form_errors(form.customer_role) }}
                        {{ form_widget(form.customer_role, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.company_name) }}
                        {{ form_errors(form.company_name) }}
                        {{ form_widget(form.company_name, {'attr': {'placeholder' : '静岡県'}}) }}
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name.name01) }}
                        {{ form_errors(form.name.name02) }}
                        <div class="row">
                            <p class="col-sm-6 col-xs-6">
                                {{ form_widget(form.name.name01) }}
                            </p>
                            <p class="col-sm-6 col-xs-6">
                                {{ form_widget(form.name.name02) }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        <label class="display-block">{{ form_label(form.zip) }}
                        {{ form_errors(form.zip.zip01) }}
                        {{ form_errors(form.zip.zip02) }}
                        <div class="row">
                            {% for zip in form.zip %}
                                <p class="col-sm-6 col-xs-6">
                                    {{ form_widget(zip, {'attr': {'class' :"p-postal-code"}}) }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    {{ form_label(form.address) }}
                    <div class="form-inline form-group input_zip">
                        {{ form_errors(form.address.pref) }}
                        {{ form_widget(form.address.pref, {'attr': {'class' :"p-region-id"}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.address.addr01) }}
                        {{ form_widget(form.address.addr01, {'attr': {'placeholder': '市区町村名 (例：千代田区神田神保町)', 'class': 'p-locality p-street-address' }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.address.addr02) }}
                        {{ form_widget(form.address.addr02, {'attr': {'placeholder': '番地・ビル名 (例：1-3-5)', 'class' : 'p-extended-address' }}) }}
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        {{ form_label(form.tel) }}
                        {{ form_errors(form.tel.tel01) }}
                        {{ form_errors(form.tel.tel02) }}
                        {{ form_errors(form.tel.tel03) }}
                        <div class="row">
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel01, {'attr': {'class': 'short'}}) }}</p>
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel02, {'attr': {'class': 'short'}}) }}</p>
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel03, {'attr': {'class': 'short'}}) }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12">
                    {% for emailField in form.email %}
                        {{ form_label(form.email) }}{% if loop.last %}（確認用）{% endif %}
                        <div class="form-group {% if emailField.vars.errors is not empty %}has-error{% endif %}">
                            {{ form_errors(emailField) }}
                            {{ form_widget(emailField, { type : 'email'}) }}
                        </div>
                    {% endfor %}
                </div>

                <p class="title12">申し込みの際には利用規約・プライバシーポリシー</p>
                <p class="title12">の 確認をお願いいたします</p>
                <p class="title12">
                    <a href="#" class="color888 margin-right15">利用規約</a>
                    <a href="#" class="color888 margin-left13">プライバシーポリシー</a>
                </p>
                <div class="col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-inactive">同意して申し込みをする</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
