{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/04/2018
 # Time: 2:50 PM
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block javascript %}
{% endblock %}
{% block main %}
    <div class="wrapper" id="service-regist-receiver-wrapper">

        <div class="farmer-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="margin-top10">
        </div>

        <div id="service-wrapper">
            <p class="title12">やさいバスは現在、静岡県内の方のみ</p>
            <p class="title12">利用申請を受け付けております</p>
            <p class="title12">対応地域拡大までしばらくお待ちください</p>
            <form id="service-form" method="post" action="{{ url('farm_service') }}">
                <input type="hidden" name="mode" value="register"/>
                {{ form_widget(form._token) }}
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="">{{ form_label(form.customer_role) }}</label>
                        {{ form_errors(form.customer_role) }}
                        {{ form_widget(form.customer_role, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="margin-left13">{{ form_label(form.company_name) }}</label>
                    {{ form_errors(form.company_name) }}
                    {{ form_widget(form.company_name, {'attr': {'class': 'width-full', 'placeholder' : '静岡県'}}) }}
                </div>

                <div class="form-group">
                    <label class="margin-left13">{{ form_label(form.name) }}</label>
                    <div class="col-sm-12 inline-block" >
                        <div class="row">
                        {{ form_errors(form.name.name01) }}
                        {{ form_errors(form.name.name02) }}
                        <p class="col-sm-6">
                        {{ form_widget(form.name.name01) }}
                        </p>
                        <p class="col-sm-6">
                        {{ form_widget(form.name.name02) }}
                        </p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="margin-left13 display-block">{{ form_label(form.zip) }}</label>
                    {{ form_errors(form.zip.zip01) }}
                    {{ form_errors(form.zip.zip02) }}
                    {% for zip in form.zip %}
                        {{ form_widget(zip, {'attr': {'class': 'width-half display-inline'}}) }}
                        {% if loop.index == 1 %}―{% endif %}
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label class="margin-left13">{{ form_label(form.address) }}</label>
                    <div class="col-sm-12">
                    {{ form_errors(form.address) }}
                    {{ form_widget(form.address) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="margin-left13">{{ form_label(form.tel) }}</label>
                    <div class="col-sm-12 inline-block" >
                        <div class="row">
                        {{ form_errors(form.tel) }}
                        <p class="col-sm-4">{{ form_widget(form.tel.tel01) }}</p>
                        <p class="col-sm-4">{{ form_widget(form.tel.tel02) }}</p>
                        <p class="col-sm-4">{{ form_widget(form.tel.tel03) }}</p>
                        </div>
                    </div>
                </div>

                {% for emailField in form.email %}
                    <label class="margin-left13">{{ form_label(form.email) }}{% if loop.last %}（確認用）{% endif %}</label>
                    <div class="form-group {% if emailField.vars.errors is not empty %}has-error{% endif %}">
                        {{ form_errors(emailField) }}
                        {{ form_widget(emailField, { type : 'email', 'attr': {'class': 'width-full'}}) }}
                    </div>
                {% endfor %}

                <p class="title12">申し込みの際には利用規約・プライバシーポリシー</p>
                <p class="title12">の 確認をお願いいたします</p>
                <p class="title12">
                    <a href="#" class="color888 margin-right15">利用規約</a>
                    <a href="#" class="color888 margin-left13">プライバシーポリシー</a>
                </p>
                <button type="submit" class="btn btn-inactive margin-left13">同意して申し込みをする</button>
            </form>
        </div>
    </div>
{% endblock %}
