{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/04/2018
 # Time: 10:26 PM
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block javascript %}
{% endblock %}
{% block main %}
    <div class="wrapper" id="service-regist-receiver-wrapper">

        <div class="farmer-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="margin-top10">
        </div>

        <div id="service-wrapper">
            <form id="service-form" method="post" action="{{ url('farm_service') }}">
                <input type="hidden" name="mode" value="complete"/>
                {{ form_widget(form._token) }}
            <div id="confirm-area">
                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.customer_role) }}</label>
                    <label class="title16">{{ form_widget(form.customer_role) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.company_name) }}</label>
                    <label class="title16">{{ form_widget(form.company_name) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.name01) }}</label>
                    <label class="title16">{{ form_widget(form.name01) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.zip) }}</label>
                    <label class="title16">{{ form_widget(form.zip.zip01) }}-{{ form_widget(form.zip.zip02) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.addr01) }}</label>
                    <label class="title16">{{ form_widget(form.addr01) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.tel01) }}</label>
                    <label class="title16">{{ form_widget(form.tel01) }}</label>
                </div>

                <div class="form-group">
                    <label class="color888 title12">{{ form_label(form.email) }}</label>
                    <label class="title16">
                        {{ form_widget(form.email.first) }}
                        {{ form_widget(form.email.second, {freeze_display_text: false}) }}
                    </label>
                </div>
            </div>

                <div class="form-group">
                    <div class="col-xs-12">
                    <label>{{ form_label(form2.bus_stop) }}</label>
                    {{ form_errors(form2.bus_stop) }}
                    {{ form_widget(form2.bus_stop, {'attr': {'class': 'select'}}) }}
                    </div>
                </div>

                {% for passwordField in form2.password %}
                <div class="form-group">
                    <div class="margin-left13">
                    {{ form_label(form2.password) }}{% if loop.last %}（確認用）{% endif %}
                    </div>
                    {#<label class="margin-left13">パスワード（英数字12文字〜30文字）</label>#}
                    {{ form_errors(passwordField) }}
                    {{ form_widget(passwordField, { type : 'password', 'attr': {'class': 'width-full'} }) }}
                </div>
                    {#<label class="margin-left13">パスワード（確認用）</label>#}
                {% endfor %}
                <button type="submit" class="btn btn-inactive margin-left13">プロフィール入力に進む</button>
            </form>
        </div>
    </div>
{% endblock %}
