{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/10/2018
 # Time: 16:46 PM
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock %}
{% block main %}
    <style type="text/css">
        .input_zip select {
            height: 50px !important;
        }
    </style>
    <div class="wrapper" id="service-regist-receiver-wrapper">
        <div class="farmer-new-header">
            <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-menu.svg" class="hambuger-menu-reicever">
            <a href="{{ url('farm_home', {'id': TargetCustomer.id} ) }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/nav-home.svg" class="nav-home"></a>
            <a href="{{ url('top') }}"><img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg" class="logo-svg"></a>
        </div>

        <div id="service-wrapper">
            <form id="service-form" method="post" action="{{ url('farm_service_profile_setting') }}" class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                {{ form_widget(form._token) }}
                <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.company_name) }}
                        {{ form_errors(form.company_name) }}
                        {{ form_widget(form.company_name, {'attr': {'placeholder' : '静岡県'}}) }}
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name.name01) }}
                        {{ form_errors(form.name.name02) }}
                        <div class="row">
                            <p class="col-sm-6 col-xs-6">
                                {{ form_widget(form.name.name01) }}
                            </p>
                            <p class="col-sm-6 col-xs-6">
                                {{ form_widget(form.name.name02) }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        {{ form_label(form.zip) }}
                        {{ form_errors(form.zip.zip01) }}
                        {{ form_errors(form.zip.zip02) }}
                        <div class="row">
                            {% for zip in form.zip %}
                                <p class="col-sm-6 col-xs-6">
                                    {{ form_widget(zip, {'attr': {'class' :"p-postal-code"}}) }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    {{ form_label(form.address) }}
                    <div class="form-inline form-group input_zip">
                        {{ form_errors(form.address.pref) }}
                        {{ form_widget(form.address.pref, {'attr': {'class' :"p-region-id"}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.address.addr01) }}
                        {{ form_widget(form.address.addr01, {'attr': {'placeholder': '市区町村名 (例：千代田区神田神保町)', 'class': 'p-locality p-street-address' }}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.address.addr02) }}
                        {{ form_widget(form.address.addr02, {'attr': {'placeholder': '番地・ビル名 (例：1-3-5)', 'class' : 'p-extended-address' }}) }}
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 inline-block" >
                    <div class="form-group">
                        {{ form_label(form.tel) }}
                        {{ form_errors(form.tel.tel01) }}
                        {{ form_errors(form.tel.tel02) }}
                        {{ form_errors(form.tel.tel03) }}
                        <div class="row">
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel01, {'attr': {'class': 'short'}}) }}</p>
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel02, {'attr': {'class': 'short'}}) }}</p>
                            <p class="col-sm-4 col-xs-4">{{ form_widget(form.tel.tel03, {'attr': {'class': 'short'}}) }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-default display-block setting-btn">変更を申請する</button>
                    <p class="text-alight-center margin-top15 title12">変更内容は事務局で内容を確認後に反映されます</p>
                </div>
                </div>

            </form>
        </div>
    </div>

    <div id="reicever-menu-wrapper" class="menu-wrapper hidden">
        <div class="Rectangle">
            <ul class="list-group" id="main-menu">
                <li class="list-group-item li-profile">
                    <img id="upload-image" src="{{ app.config.image_save_urlpath }}/{{ TargetCustomer.profile_image|no_image_product }}" alt="profile" class="img-circle small-profile">
                    <span class="profile-name">{{ TargetCustomer.__toString }}</span>
                    <span class="button-x">X</span>
                </li>
                <li class="list-group-item"><a href="{{ url('farm_profile', {'id': TargetCustomer.id} ) }}">プロフィール</a></li>
                <li class="list-group-item"><a href="#">過去の出品</a></li>
                <li class="list-group-item"><a href="#"><span>お知らせ</span><span class="li-active">&#x25CF;</span></a></li>
                <li class="list-group-item" id="setting"><a href="#">設定</a></li>
                <li class="list-group-item"><a href="#">お問い合わせ</a></li>
                <li class="list-group-item"><a href="{{ url('farm_guide') }}">ガイド</a></li>
            </ul>

            <ul class="list-group hidden" id="setting-menu">
                <li class="list-group-item li-profile">
                    <img id="upload-image" src="{{ app.config.image_save_urlpath }}/{{ TargetCustomer.profile_image|no_image_product }}" alt="profile" class="img-circle small-profile">
                    <span class="profile-name">{{ TargetCustomer.__toString }}</span>
                    <span class="button-x">X</span>
                </li>
                <li class="list-group-item">
                    <a href="{{ url('farm_service_profile_setting') }}">
                        登録者名・住所・電話番号
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>

                </li>
                <li class="list-group-item">
                    <a href="{{ url('farm_farmer_password_change') }}">
                        メールアドレス・パスワード
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        指定購入者への割引設定
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>

                </li>
                <li class="list-group-item">
                    <a href="#">
                        やさいバスについて
                        <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/arrow.png" class="float-right margin-top5">
                    </a>
                </li>
            </ul>
        </div>
    </div>



{% endblock %}
